.wrapper 
	max-width: 1120px
	width: 100%
	margin: 0 auto
	padding: 0 15px
.container
	width: 100%
	margin: 0 auto
body,ul,nav
	margin: 0
	padding: 0
	list-style-type: none
p
	font-family: 'Open Sans', sans-serif
	font-weight: 400
	font-size: 14px
	color: #9e9e9e
a,button,label,::placeholder
	font-family: 'Roboto', sans-serif
	font-weight: 700
	font-size: 12px
	text-decoration: none
	letter-spacing: 3px
h2,h3
	font-family: 'Arvo', serif
	font-weight: 400
	font-size: 36px
h3
	font-size: 22px

header
	margin: 30px 0
.header_container
	display: flex
	align-items: center
	justify-content: space-between
.header_nav
	ul
		display: flex
		flex-wrap: wrap
		li
			padding-left: 60px
			a,button
				color: #9fa3a7
			button
				background: none
				border: none
				padding: 0
				color: #757575
.burger
	width: 35px
	height: 22px
	position: relative
	float: left
	display: none
	span
		background-color: grey
		width: 100%
		height: 2px
		position: absolute
		border: 1px solid grey
		border-radius: 20px
	.span_top
		top: 0px
	.span_middle
		top: 9px
	.span_bottom
		bottom: 0px
@media (max-width: 735px)
	.burger
		display: block
	.header_nav ul
		display: none
.promo_section, header
	animation: fade 1s ease-in-out
.promo_section, .specification_section
	margin: 230px 0
.promo_section_container
	display: flex
	justify-content: space-between
	flex-wrap: wrap
.promo_section_content
	width: 35%
	h1
		font-family: 'Arvo', serif
		font-weight: 400
		font-size: 36px
	p
		font-family: 'Open Sans', sans-serif
		font-weight: 400
		font-size: 14px
		padding-bottom: 40px
		color: #9e9e9e
.promo_section_buttons
	width: 100%
	ul
		display: flex
		justify-content: center
.bttn_item
	padding: 20px 55px
	background-color: #ffc80a
	border-radius: 50px
	&:last-of-type
		padding: 20px 40px
		background-color: white
		border: 2px solid #f6f6f6
		margin-left: 18px
	a
		color: #292929
@media (max-width: 1084px)
	.promo_section_content 
		width: 70%
		text-align: center
		margin: 0 auto
		padding-bottom: 50px
	.promo_section_img
		width: 100%
		text-align: center
@media (max-width: 658px)
	.promo_section_img
		img
			width: 90%
	.promo_section_buttons
		height: 20ex
		a
			&:last-of-type
				margin: 350px 0 0 0
.skills_section
	position: relative
	animation: lefty 1s ease
.skills_section_container
	display: flex
	justify-content: center
	flex-wrap: wrap
.skills_section_content
	width: 35%
	padding-right: 90px
.skills_section_list_block
	width: 28%
.skills_section_list_item
	display: flex
	justify-content: center
	padding-bottom: 40px
	&:last-of-type
		border-top: 1px solid #d1d1d1
		padding-top: 40px
@media (max-width:856px)
	.skills_section_content
		width: 100%
		text-align: center
		padding: 0
	.skills_section_list
		display: flex
		justify-content: space-between
	.skills_section_list_block
		width: 100%
		padding-top: 50px
	.skills_section_list_item:last-of-type
		border-top: none
		padding: 0
@media (max-width:696px)
	.skills_section_list
		flex-direction: column
.specification_section_container
	display: flex
	justify-content: center
.specification_section_content
	width: 100%
	z-index: 2
	p
		color: black
@media (max-width:902px)
	.specification_section_container
		position: relative
	.specification_section_img
		position: absolute
		right: 0px
		opacity: 0.6
		z-index: 1
.quote_section_container,figure
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center
	blockquote p
		font-family: 'Arvo', serif
		font-weight: 400
		font-size: 36px
		width: 61%
		height: 18ex
		margin: 0 auto
		color: black
	figcaption
		width: 100%
		height: 30ex
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		div.people_info
			margin: 0
			padding: 0
			width: 23ex
			display: flex
			flex-direction: column
			align-items: center
		p
			margin: 0
			padding: 0
		p.people_name
			color: black
			font-family: 'Arvo', serif
			font-weight: 400
			font-size: 22px
			padding-top: 15px
		p.people_spec
			font-family: 'Roboto', sans-serif
			font-weight: 700
			font-size: 12px
			letter-spacing: 3px
			padding-top: 5px
@media (max-width: 826px)
	.blockquote_figure blockquote p
		width: 100%
@media(max-width:630px)
	.blockquote_figure blockquote p
		font-size: 30px
		height: 20ex
@media(max-width:505px)
	.blockquote_figure blockquote p
		font-size: 18px
.people_block
	border-bottom: 3px solid #e8e9ed
	height: 20ex
	position: relative
.people_list 
	display: flex
	align-items: center
	justify-content: center
	height: 20ex
	li
		padding: 20px 100px 0 0
		&:last-of-type
			padding: 20px 0 0 0
	img
		width: 100%
		transition-property: width
	img:hover
		transition: .2s ease
.arrow_div
	position: absolute
	max-width: 100%
	width: 7%
	display: none
.arrow_left
	right: 50px
.arrow_right
	left: 50px
@media (max-width: 841px)
	.people_fade
		display: none
	.arrow_div
		display: block
@media (max-width: 630px)
	.people_list li
		padding: 0 50px 0 0
.form_section
	margin: 150px 0
.form_section_container
	display: flex
	justify-content: center
.form_section_img
	img
		width: 100%
.form_section_content
	display: flex
	flex-direction: column
	width: 100%
	align-items: flex-start
	margin-top: 50px
	form
		width: 100%
	.form_input
		display: flex
		justify-content: flex-end
		margin: 0
		padding: 0 0 25px 0
		width: 100%
	label
		color: #9e9e9e
	input
		&.text
			margin: 0
			border: none
			border-bottom: 1px solid #9e9e9e
			outline: none
			width: 67%
		&[type=submit]
			background-color: #ffc80a
			color : white
			letter-spacing: 3px
			font-weight: 500
			border: 1px solid #ffc80a
			border-radius: 50px
			padding: 14px 18px
			float: right
		&.little
			display: none
@media (max-width: 1116px)
	.form_section_container
		flex-wrap: wrap
	.form_section_content
		margin: 0 auto
		justify-content: flex-start
		align-items: center
		input.text
			width: 83%
		.form_input
		label
			width: 10%
		form
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center

@media (max-width:843px)
	label
		display: none
	.form_section_content
		input
			&.text
				width: 100%
			&.little
				display: block
			&.large
				display: none
			&::placeholder
				opacity: .5
.footer
	margin: 100px 0 0 0
	padding: 50px 5px 30px 5px
	background-color: #f7f8f9
	background-size: cover
.footer_content
	display: flex
	justify-content: space-between
.footer_nav	ul,.footer_social ul
	display: flex
	a
		color: #6c6c6c
	li
		padding: 0 35px 0 0
		&:last-of-type
			padding: 0
.footer_ps
	text-align: center
	p
		font-weight: 700
@media (max-width: 1030px)
	.footer_nav ul
		flex-direction: column
		align-items: center
		text-align: center
		li
			padding: 20px 0 0 0
			&:last-of-type
				padding: 20px 0 0 0
			a
				font-size: 16px
	.footer_content
		flex-direction: column
		align-items: center
	.footer_social ul
		padding: 20px 0
@media(max-width:385px)

@keyframes fade 
	from 
		opacity: 0
	to
		opacity: 1
@keyframes lefty
	from
		left: -100px
		opacity: 0
	to
		left: 0px
		opacity: 1